*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: pink;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.hidden{
    display: flex;
    justify-content: center;
    align-items: center;

    & .inContainer{
        height: 10rem;
        width: 70%;
        border: 1px solid blue;
        background-color: aliceblue;
    }
}